@{
    ViewData["Title"] = "Find GitHub User";
}
<head>
    <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>

<h2>Find GitHub User</h2>
<form asp-controller="Home" asp-action="Index" method="get">
    <h1 align="center">
        <input type="text" placeholder="Name e.g.: 'jim123'" name="input" style="vertical-align: middle" value="@ViewData["Input"]">
        <input type="submit" value="search" style="vertical-align: middle; background-color: #4CAF50; border: none; color: white; padding: 14px 32px; text-align: center; text-decoration: none; display: inline; font-size: 19px;" />
    </h1>
</form>
<p></p>
@{ if (((String)ViewData["UserName"]).Equals("Username not found"))
    {
        <br /><br />
        <h2> @ViewData["UserName"]</h2>
    }
    else
    {<br /><br />
        <table border="1">
            <tr>
                <td>
                    @{if (!String.IsNullOrEmpty((String)ViewData["avatar_url"]))
                        {<img  width="300" height="300" src="@ViewData["avatar_url"]" alt="sample image" /> }
                        else
                        {<img  width="300" height="300" src="~/images/" alt="sampl" /> }
                    }
                </td>
                <td><h3> html_url = <a href="@ViewData["html_url"]">@ViewData["html_url"]</a></h3></td>
                <td>
                    @if (ViewBag.AllFollowings != null)
                    {<h4>Followings:</h4>
                        @for (int i = 0; i < ((ViewBag.AllFollowings).Length); i++)
                        {
                            <ul>
                                <li><a href="@Url.Action("Index", "Home", new { input = ViewBag.AllFollowings[i] })">@ViewBag.AllFollowings[i]</a></li>
                            </ul>
                        }
                    }
            </td>
            <td rowspan="8">
                @if (ViewBag.AllFollowers != null)
                {
                    <H4>Followers:</H4>
                    @for (int i = 0; i < ((ViewBag.AllFollowers).Length); i++)
                    {
                        <ul>
                            <li><a href="@Url.Action("Index", "Home", new { input = ViewBag.AllFollowers[i] })">@ViewBag.AllFollowers[i]</a></li>
                        </ul>
                    }
                }
            </td>
        </tr>
        <tr>
            <td><h2 align="center">@ViewData["name"]</h2></td>
        </tr>
        <tr>
            <td><h3>@ViewData["id"]</h3></td>
        </tr>
        <tr>
            <td>company = @ViewData["company"]</td>
        </tr>
        <tr>
            <td>blog = @ViewData["blog"]</td>
        </tr>
        <tr>
            <td>public_repos = @ViewData["public_repos"]</td>
        </tr>
        <tr>
            <td>location = @ViewData["location"]</td>
        </tr>
        <tr>
            <td>email = @ViewData["email"]</td>
        </tr>
        <tr>
            <td>hireable = @ViewData["hireable"]</td>
        </tr>
        <tr>

            <td>
                @if (ViewBag.AllRepos != null)
                {
                    <h4>repos:</h4>
                    @foreach (KeyValuePair<string, string> kvp in ViewBag.AllRepos)
                    {
                    <ul>
                        @{ViewData["repolink"] = "https://github.com/" + ViewData["username"] + "/" + kvp.Key;}
                            <li><a href=@ViewData["repolink"]>@kvp.Key</a></li>
                        @kvp.Value
                        
                    </ul>
                    }
                }
        </td>
        <td>
            @if (ViewBag.AllGists != null)
            {
                <h4>Gists:</h4>
                @foreach (KeyValuePair<string, string> kvp in ViewBag.AllGists)
                {
                <ul>
                    @{ViewData["gistlink"] = kvp.Value;
                        string[] words = kvp.Key.Split(new[] { "&&&" }, StringSplitOptions.RemoveEmptyEntries);
                    }
                    <li><a href=@kvp.Value>@words[0]</a></li>
                    @if (words.Length == 2)
                    { @words[1]}

               </ul>
                }
            }
    </td>
</tr>

</table>

<p>
    <ul>
        <li>
            
        <li>
            public_gists = @ViewData["public_gists"]
        <li>
            followers = @ViewData["followers"]
        <li>
            following = @ViewData["following"]
        <li>
           
        <li>
            <b>About:</b> @ViewData["bio"]
    </ul>
</p>
@if (ViewData["DEBUG"] != null)
{
    <h3> @ViewData["DEBUG"]</h3>
    }

}
}
